<div class="canvas">
  <div class="row title">
    <div class="col-12 col-lg-7 logo">
      <img src="assets/logo-igti.png" width="110px" />
      <span> ANÁLISE DO CONTEXTO DO PROBLEMA - POEMS </span>
    </div>
    <div class="col-12 col-lg-5">
    </div>
    <div class="col-12 col-xl-12 credits">
      <p>Linkedin do criador: <a href="https://www.linkedin.com/in/brunofdev" target="_blank">Bruno Felipe Mendes</a>
      </p>
    </div>
  </div>
  <div class="cards-one row">

    <div class="col">
      <div class="row h-100">
        <div style="height: min-content;" class="title-poems col-12 col-xl-12">
          <span> PESSOAS </span>
        </div>
        <div class="title-poems col-12 col-xl-12">
          <span> QUEM ESTÁ ENVOLVIDO NO CONTEXTO EM ANÁLISE?</span>
        </div>
        <div class="title-poems col-12 col-xl-12">
          <span style="background-color: #8D0DBA;"> QUEM ESTÁ ENVOLVIDO NO CONTEXTO EM ANÁLISE</span>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="row h-100">
        <div style="height: min-content;" class="title-poems col-12 col-xl-12">
          <span> OBJETOS </span>
        </div>
        <div class="title-poems col-12 col-xl-12">
          <span> QUE OBJETOS FAZEM PARTE DO AMBIENTE </span>
        </div>
        <div class="title-poems col-12 col-xl-12">
          <span style="background-color: #8D0DBA;"> QUEM ESTÁ ENVOLVIDO NO CONTEXTO EM ANÁLISE</span>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="row h-100">
        <div style="height: min-content;" class="title-poems col-12 col-xl-12">
          <span> AMBIENTE </span>
        </div>
        <div class="title-poems col-12 col-xl-12">
          <span> QUAIS SÃO AS CARACTERÍSTICAS DO AMBIENTE?</span>
        </div>
        <div class="title-poems col-12 col-xl-12">
          <span style="background-color: #8D0DBA;"> QUEM ESTÁ ENVOLVIDO NO CONTEXTO EM ANÁLISE</span>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="row h-100">
        <div style="height: min-content;" class="title-poems col-12 col-xl-12">
          <span> MENSAGEM </span>
        </div>
        <div class="title-poems col-12 col-xl-12">
          <span> QUE MENSAGENS SÃO COMUNICADAS? </span>
        </div>
        <div class="title-poems col-12 col-xl-12">
          <span style="background-color: #8D0DBA;"> QUEM ESTÁ ENVOLVIDO NO CONTEXTO EM ANÁLISE</span>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="row h-100">
        <div style="height: min-content;" class="title-poems col-12 col-xl-12">
          <span> SERVIÇOS </span>
        </div>
        <div class="title-poems col-12 col-xl-12">
          <span> QUAIS SERVIÇOS SÃO OFERECIDOS? </span>
        </div>
        <div class="title-poems col-12 col-xl-12">
          <span style="background-color: #8D0DBA;"> QUEM ESTÁ ENVOLVIDO NO CONTEXTO EM ANÁLISE</span>
        </div>
      </div>
    </div>
  </div>



  <div class="row">
    <div class="col-6 col-xl-6">
      <app-card class="col-12 col-xl-12" [config]="register"></app-card>
    </div>
    <div class="col-6 col-xl-6">
      <app-card class="col-12 col-xl-12" [config]="register"></app-card>
    </div>
  </div>
</div>